# Dependencias
node_modules/

# Construcción y ejecutables
dist/
release-builds/
*.exe
*.dll
*.msi

# Datos y Fotos
data/
portfolios/
*.db
*.db-journal

# Logs y temporales
*.log
.DS_Store
Thumbs.db
test_encryption/

# Configuración local
.env
